{% extends "index/index.html" %}

{% block content %}

<!-- Generator -->
<form action="/generate" method="GET" role="search" id="searchForm">
  <div class="mb-3">
    <textarea class="form-control" id="articleInput" rows="10" placeholder="Enter your article ..."></textarea>
  </div>
  <div class="alert alert-danger" role="alert">
    Warning! This demo is for test use only. The model can produce false information. Read more about the limitations 
    <a href="https://www.eleuther.ai/faq/" target="_blank">here</a>.
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="consent">
    <label class="form-check-label" for="consent">
      I have understood that this model can produce false information. I will not use the generated text without fact checking.
    </label>
  </div>
  <button class="btn btn-primary mt-4" type="button" id="submitText" disabled>Please generate title and teaser!</button>
</form>
<hr class="mt-5 pb-4" />
<!-- Snippet Results-->
<div class="d-none mb-3" id="loadingDiv">
  <div class="spinner-grow text-secondary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <p id="waitedSeconds" class="text-secondary"><small><i>Please note: Text generation can take up to 1 minute.</i></small></p>
</div>
<div id="resultDiv" class="d-none">
  <form action="/webhook" method="GET" role="search" id="searchForm">
    <div class="form-group row mb-3">
      <label for="resHeadline" class="col-sm-1 col-form-label col-form-label-lg">Title</label>
      <div class="col-sm-11">
        <textarea class="form-control form-control-lg" id="resHeadline" rows="1"></textarea>
      </div>
    </div>
    <div class="form-group row mb-3">
      <label for="resTeaser" class="col-sm-1 col-form-label col-form-label">Teaser</label>
      <div class="col-sm-11">
        <textarea class="form-control form-control" id="resTeaser" rows="3"></textarea>
      </div>
    </div>
    <!-- Webhook -->
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingWebhook">
          <h5 class="mb-0">
            <button class="btn btn-link link-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWebhook" aria-expanded="true" aria-controls="collapseWebhook">
              + Webhook (optional)
            </button>
          </h5>
        </div>
        <div id="collapseWebhook" class="collapse" aria-labelledby="headingWebhook" data-bs-parent="#accordion">
          <div class="card-body">
            <p>
              SnipAId can notify a personal endpoint with the results once generated.<br/>
              Results will be provided as JSON body in the following format.
            </p>
            <pre><code>{
fulltext: ...,
title: ...,
teaser: ...,
}</code></pre>
            <input class="form-control mt-3" id="webhookInput" type="URL" rows="1" placeholder="Enter the url of your webhook endpoint..." required></input>
            <button class="btn btn-primary mt-3" type="button" id="sendToWebhook" disabled>Send</button>
            <div class="alert alert-success mt-3" id="webhookStatus" role="alert">
              Successfully sent!
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Webhook-->
  </form>
</div>


<script>
window.onload = function() {
  var consent = document.getElementById('consent');
  var submitText = document.getElementById('submitText');
  var articleInput = document.getElementById('articleInput');
  var loadingDiv = document.getElementById('loadingDiv');
  var resultDiv = document.getElementById('resultDiv');
  var resTeaser = document.getElementById('resTeaser');
  var resHeadline = document.getElementById('resHeadline');
  var webhookInput = document.getElementById('webhookInput')
  var sendToWebhook = document.getElementById('sendToWebhook')
  var webhookStatus = document.getElementById('webhookStatus')

  consent.addEventListener('change', (event) => {
    if (event.currentTarget.checked) {
      submitText.disabled = false;
    } else {
      submitText.disabled = true;
    }
  }, false);

  var isHeadlineLoaded = false;
  var isTeaserLoaded = false;
  var setLoading = function(to) {
    if (to) {
      isHeadlineLoaded = false;
      isTeaserLoaded = false;
      loadingDiv.classList.remove("d-none");
      submitText.classList.add("d-none");
    } else if (isHeadlineLoaded && isTeaserLoaded) {
      loadingDiv.classList.add("d-none")
      submitText.classList.remove("d-none");
    }
  }

  submitText.addEventListener('click', (event) => {
    setLoading(true);
    resultDiv.classList.add('d-none')

    let prompts = []

    fetch('/generate/?' + new URLSearchParams({
      fulltext: articleInput.value,
      gen_type: "headline"
    }))
      .then((response) => response.json())
      .then((data) => {
        isHeadlineLoaded = true;
        resHeadline.innerText = data.output;
        setLoading(false);
        resultDiv.classList.remove('d-none')
      });
    
    fetch('/generate/?' + new URLSearchParams({
      fulltext: articleInput.value,
      gen_type: "teaser"
    }))
      .then((response) => response.json())
      .then((data) => {
        isTeaserLoaded = true;
        resTeaser.innerText = data.output;
        setLoading(false);
        resultDiv.classList.remove('d-none')
      });
  })
}

webhookInput.addEventListener('change', (event) => {
  if (event.currentTarget.validity.valid) {
    sendToWebhook.disabled = false;
  } else {
    sendToWebhook.disabled = true;
  }
});

// Default: Webhook status alert is hidden
$("#webhookStatus").hide();

// Alert webhook status with regards to HTTP status code
const alertWebhookStatus = (status) => {
  if (status / 100 == 2){
    // HTTP 2xx successful
    webhookStatus.classList.remove("alert-secondary")
    webhookStatus.classList.add("alert-success")
    webhookStatus.innerText = "Success!"
  } else {
    // Something is wrong
    webhookStatus.classList.remove("alert-success")
    webhookStatus.classList.add("alert-secondary")
    webhookStatus.innerText = `Data was not received! Receiver responded with HTTP status ${status}.`
  }
  // Show the alert
  $("#webhookStatus").fadeIn().delay(3000).fadeOut();
}

sendToWebhook.addEventListener('click', async (event) => {
  const endpoint = webhookInput.value;
  const response = await fetch(endpoint,
      {
        headers: {
            'Content-Type': 'application/json'
        },
        method: "POST",
        body: JSON.stringify({
          "fulltext": articleInput.value,
          "title": resHeadline.value,
          "teaser": resTeaser.value
        })
    });
  alertWebhookStatus(response.status);
});

</script>
{% endblock %}