{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}SnipAId{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  </head>
  <body class="bg-light">
    <div class="container">
      <main>
        <div class="py-5 text-center">
          <a href="/">
            <img class="d-block mx-auto mb-4 rounded" src="https://www.media-lab.de/files/content/programme/mtl/mtl-projects-please-generate.jpg" alt="Icon of SnipAId" width="75" height="50">
          </a>
          <h2>SnipAId</h2>
          <p class="lead">SnipAId is an open source tool for generating text snippets from journalistic text.</p>
        </div>
        {% block content %}{% endblock %}
        <footer class="my-5 pt-5 text-muted text-center text-small">
          <hr class="mt-4 pb-4" />
          <p class="mb-1">Kindly funded by:</p>
          <a target="_blank" rel="noopener noreferrer" href="https://github.com/media-tech-lab">
            <img src="https://github.com/media-tech-lab/.github/raw/main/assets/mtl-powered-by.png" width="160" title="Media Tech Lab powered by logo" style="max-width: 100%;">
          </a>
          <p class="mt-3 mb-1">Available under MIT licence &#128588;</p>
        </footer>
      </main>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
  </body>
</html>